<section class="carousel-wrapper" [ngStyle]="carouselWrapperStyle">
  <ul class="carousel-inner" #carousel>
    <li *ngFor="let item of items;" class="carousel-item">
      <ng-container [ngTemplateOutlet]="item.tpl" style="background-color: #4a4a4a;"></ng-container>
    </li>
  </ul>
</section>
<div *ngIf="showControls" class="control-container">
  <button (click)="prev()" class="btn btn-default" style="margin-right: 10px;">Föreg</button>
  <span class="slide-info">Bild {{currentSlide + 1}} av {{items.length}}</span>
  <button (click)="next()" class="btn btn-default" style="margin-left: 10px">Nästa</button>
</div>
