.image-caption {
  padding: 0;
  width: 700px;
  height: 35px;
  background-color: white;
  color: #000;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}
