<div class="header_pane">
  <div class="container">

    <div class="header-row">
      <div class="header-row-item1">
        <a routerLink="/">
          <div>
            <div class="header-text header1">Hyr hus i Mae Phim</div>
            <div class="header-text header2">Thailand</div>
          </div>
        </a>
      </div>

      <nav class="menu header-row-item2" id="main-menu" [ngClass]="{'is-open': displayDropdown}">

        <button class="menu-toggle" id="toggle-menu" (click)="toggle()">
          toggle menu
        </button>
        <div class="menu-dropdown">
          <ul class="nav-menu">
            <li>
              <a routerLink="" routerLinkActive="active" (click)="toggle()" [routerLinkActiveOptions]="{exact: true}">
                <div>
                  <img src="assets/svg/star.svg" class="nav-links__icon"/>
                  <img src="assets/svg/star-active.svg" class="nav-links__icon-active"/>
                </div>
                <div><span>Start</span></div>
              </a>
            </li>
            <li>
              <a routerLink="huset" routerLinkActive="active" (click)="toggle()">
                <div>
                  <img src="assets/svg/home.svg" class="nav-links__icon"/>
                  <img src="assets/svg/home-active.svg" class="nav-links__icon-active"/>
                </div>
                <div><span>Huset</span></div>
              </a>
            </li>
            <li>
              <a routerLink="omradet" routerLinkActive="active" (click)="toggle()">
                <div>
                  <img src="assets/svg/mark.svg" class="nav-links__icon"/>
                  <img src="assets/svg/mark-active.svg" class="nav-links__icon-active"/>
                </div>
                <div><span>Området</span></div>
              </a>
            </li>
            <li>
              <a routerLink="aktiviteter" routerLinkActive="active" (click)="toggle()">
                <div>
                  <img src="assets/svg/globe.svg" class="nav-links__icon"/>
                  <img src="assets/svg/globe-active.svg" class="nav-links__icon-active"/>
                </div>
                <div><span>Aktiviteter</span></div>
              </a>
            </li>
            <li>
              <a routerLink="bokning" routerLinkActive="active" (click)="toggle()">
                <div>
                  <img src="assets/svg/document.svg" class="nav-links__icon"/>
                  <img src="assets/svg/document-active.svg" class="nav-links__icon-active"/>
                </div>
                <div><span>Bokning</span></div>
              </a>
            </li>
          </ul>
        </div>

      </nav>
    </div>
  </div>
  <div class="nav-line"></div>
  <div class="nav-line2"></div>
</div>
