<div class="header_pane">
  <div class="container">

    <div class="header-row">
      <div class="header-row-item1">
        <div class="header-text header1">Hyr hus i Mae Phim</div>
        <div class="header-text header2">Thailand</div>

      </div>

      <nav class="menu header-row-item2" id="main-menu" [ngClass]="{'is-open': displayDropdown}">

        <button class="menu-toggle" id="toggle-menu" (click)="toggle()">
          toggle menu
        </button>
        <div class="menu-dropdown">
          <ul class="nav-menu">
            <li>
              <a routerLink="" routerLinkActive="active" (click)="toggle()">
                <div><img src="assets/svg/star.svg" class="nav-links__icon"/></div>
                <div><span>Start</span></div>
              </a>
            </li>
            <li>
              <a routerLink="huset" routerLinkActive="active" (click)="toggle()">
                <div><img src="assets/svg/home.svg" class="nav-links__icon"/></div>
                <div><span>Huset</span></div>
              </a>
            </li>
            <li>
              <a routerLink="omradet" routerLinkActive="active" (click)="toggle()">
                <div><img src="assets/svg/mark.svg" class="nav-links__icon"/></div>
                <div><span>Området</span></div>
              </a>
            </li>
            <li>
              <a routerLink="aktiviteter" routerLinkActive="active" (click)="toggle()">
                <div><img src="assets/svg/globe.svg" class="nav-links__icon"/></div>
                <div><span>Aktiviteter</span></div>
              </a>
            </li>
            <li>
              <a routerLink="bokning" routerLinkActive="active" (click)="toggle()">
                <div class="nav-links__icon">
                  <svg enable-background="new 0 0 64 64" height="25px" id="Layer_1" version="1.1" viewBox="0 0 64 64" width="25x" xml:space="preserve"><g><rect class="icon" height="3" width="20.621" x="21.685" y="20.033"/><rect class="icon" height="3" width="20.621" x="21.685" y="27.223"/><path [ngClass]="{'highlightedIcon': highlighted}" d="M51.015,7.999h-38c-0.553,0-1,0.447-1,1v33.323c-0.011,0.096-0.029,0.191-0.029,0.29c0,4.912,3.681,8.972,8.428,9.589   l-0.029,0.022l29.631,3.778c1.104,0,2-0.895,2-2V8.999C52.015,8.446,51.567,7.999,51.015,7.999z M47.015,50.206l-19.84-11.635   c-0.466-0.296-0.844-0.089-0.844,0.464v3.422v-0.014c-0.004,0.057,0,0.111,0,0.169c0,2.58-2.087,4.679-4.667,4.679   s-4.649-1.928-4.649-4.508c0-0.091,0.009-0.22,0-0.308v-0.128V12.999h30V50.206z"/></g></svg>
                </div>
                <div><span>Bokning</span></div>
              </a>
            </li>
          </ul>
        </div>

      </nav>
    </div>
  </div>
  <div class="nav-line"></div>
  <div class="nav-line2"></div>
</div>
