

<div class="info">
  <img src="assets/images/header.jpg" alt="strand"/>
  <div class="title">
    <h4>Semestra i nybyggt hus nära stranden</h4>
  </div>
  <p>
    Fullt utrustat hus med stor terrass uthyres i Laem Mae Phim, Thailand.
    Det finns plats för 6 vuxna + 2 barn i denna nybyggda tvåplansvilla.
  </p>
  <p>
    Paradisstranden Mae Phim ligger endast 2 timmar från Bangkoks internationella
    flygplats. Önskar ni bo i en miljö skild från turistströmmar, ca 200 m från
    en fantastiskt fin och orörd strand, då är detta platsen för er. Området är
    idealiskt för den som vill upptäcka det riktiga Thailand!
  </p>
</div>


<main class="flyin-grid">
  <!--<div class="flyin-grid__item card" style="padding: 2rem">
    <div class="title text-center">
      <h4>Semestra i nybyggt hus nära<br> stranden i Mae Phim</h4>
    </div>
    <p>
      Fullt utrustat hus med stor terrass uthyres i Laem Mae Phim, Thailand.
      Det finns plats för 6 vuxna + 2 barn i denna nybyggda tvåplansvilla.
    </p>
    <p>
      Paradisstranden Mae Phim ligger endast 2 timmar från Bangkoks internationella
      flygplats. Önskar ni bo i en miljö skild från turistströmmar, ca 200 m från
      en fantastiskt fin och orörd strand, då är detta platsen för er. Området är
      idealiskt för den som vill upptäcka det riktiga Thailand!
    </p>
  </div>-->

  <div class="flyin-grid__item card clickable">
    <a routerLink="/huset" routerLinkActive="active">
      <div>
        <img src="assets/images/thai/husetutifranpool_stor.jpg" alt="huset"/>
        <div class="title">
          <h4>Huset</h4>
        </div>
      </div>
    </a>
  </div>

  <div class="flyin-grid__item card clickable">
    <a routerLink="/omradet" routerLinkActive="active">
      <div>
        <img src="assets/images/boat.jpg" alt="området"/>
        <div class="title">
          <h4>Området</h4>
        </div>
      </div>
    </a>
  </div>
  <div class="flyin-grid__item card clickable">
    <a routerLink="/galleri" routerLinkActive="active">
      <div>
        <img src="assets/images/frukt.jpg" alt="bildgalleri"/>
        <div class="title">
          <h4>Bildgalleri</h4>
        </div>
      </div>
    </a>
  </div>
  <!--<div class="flyin-grid__item card">
    <img src="assets/images/architecture.jpg" alt="bokning"/>
    <h4>Bokning</h4>
    <p>
      Peggy was our first and friendliest hen. She is the
      most likely to greet visitors to the yard, and
      frequently to be found nesting in the coop.
    </p>
  </div>-->
</main>
