.start-grid {
  display: flex;
  margin: 0 -10px 60px -10px;
}

.start-grid-item {
  flex: 1;
  margin: 0 10px 10px;
}

.start-card {
  background-color: white;
  color: hsl(210, 15%, 20%);
  box-shadow: 0.1em 0.3em 0.5em rgba(0, 0, 0, 0.1);
}

.start-card-img-left {
  width: 50%;
  float: left;
}

.start-card-textbox {
  margin-left: 50%;
}

.start-card-text {
  padding: 0.5em 2em 1em 2em;
}

.start-card-header {
  margin-bottom: 50px;
  margin-top: 30px;
}

.start-card-header > h2 {
  text-transform: uppercase;
  font-family: Source Sans Pro,Arial;
}
