<div style="margin-top: 1em"></div>

<!--
<main class="card-grid">
  <div class="card-grid_item card">
    <img src="assets/images/header.jpg" alt="strand"/>
    <div class="ellipseDiv">
      <span class="ellipse-text">1 vecka<br>fr. 4.000:-</span>
    </div>
  </div>
</main>
-->

<main class="card-grid">
  <div class="card-grid_item card">
    <div class="card-img-left">
      <img src="assets/images/gallery/strand3.jpg" alt="hopp" style="width: 400px"/>
      <!--<img src="assets/images/hoppflicka.jpg" alt="hopp" style="width: 400px"/>-->
      <!--<div class="ellipseDiv">
        <span class="ellipse-text">1 vecka<br>fr. 4.000:-</span>
      </div>-->
    </div>

    <div class="card-textbox">
      <div class="card_title">
        <h2 style="font-family: Source Sans Pro,Arial;">Semestra i ett hus nära stranden</h2>
      </div>
      <div class="card_text">
        <p>
          Fullt utrustat hus med stor terrass uthyres i Laem Mae Phim, Thailand.
          Det finns plats för 6 vuxna + 2 barn i denna nybyggda tvåplansvilla.
        </p>
        <p>
          Paradisstranden Mae Phim ligger endast 2 timmar från Bangkoks internationella
          flygplats. Önskar ni bo i en miljö skild från turistströmmar, ca 200 m från
          en fantastiskt fin och orörd strand, då är detta platsen för er. Området är
          idealiskt för den som vill upptäcka det riktiga Thailand!
        </p>
      </div>
    </div>
  </div>

</main>

<main class="card-grid">
  <div class="big-link card-grid_item card">
    <a routerLink="/bokning" routerLinkActive="active">
      <span class="link-text">Till bokning</span>
    </a>
  </div>
</main>

<div class="inform-container">
  <div class="inform-header">
    <span>Vill du veta mer?</span>
  </div>
  <div class="inform-text">
    <span>Klicka på bilderna för att lära dig mer om huset och området</span>
  </div>
</div>

<main class="card-grid">

  <!--
  <div class="card-grid_item card">
    <div class="card_title">
      <h2>Semestra i ett hus nära stranden</h2>
    </div>
    <div class="card_text">
      <p>
        Fullt utrustat hus med stor terrass uthyres i Laem Mae Phim, Thailand.
        Det finns plats för 6 vuxna + 2 barn i denna nybyggda tvåplansvilla.
      </p>
      <p>
        Paradisstranden Mae Phim ligger endast 2 timmar från Bangkoks internationella
        flygplats. Önskar ni bo i en miljö skild från turistströmmar, ca 200 m från
        en fantastiskt fin och orörd strand, då är detta platsen för er. Området är
        idealiskt för den som vill upptäcka det riktiga Thailand!
      </p>
    </div>
  </div>-->

</main>

<main class="card-grid">
  <div class="card-grid_item card clickable">
    <a routerLink="/huset" routerLinkActive="active">
      <img src="assets/images/edited/huset.jpg" alt="huset"/>
      <div class="tape-1" target="color-greenish1">
        <span>Ta en titt</span>
      </div>
      <div class="tape-2" target="color-greenish2">
        <span>på huset</span>
      </div>
      <div class="card_text card_text_link">
        <span>Ta en titt på huset</span>
      </div>
      <div class="link-arrow"> ></div>
    </a>
  </div>

  <div class="card-grid_item card clickable">
    <a routerLink="/omradet" routerLinkActive="active">
      <img src="assets/images/edited/boat.jpg" alt="området"/>
      <div class="tape-1" target="color-green1">
        <span>Spana in</span>
      </div>
      <div class="tape-2" target="color-green2">
        <span>området</span>
      </div>
      <div class="card_text card_text_link">
        <span>Utforska Laem Mae Phim</span>
      </div>
      <div class="link-arrow"> ></div>
    </a>
  </div>
</main>

<main class="card-grid">
  <div class="card-grid_item card clickable">
    <a routerLink="/galleri" routerLinkActive="active">
      <img src="assets/images/edited/frukt.jpg" alt="bildgalleri"/>
      <div class="tape-1" target="color-blue1">
        <span>Utforska</span>
      </div>
      <div class="tape-2" target="color-blue2">
        <span>bildgalleriet</span>
      </div>
      <div class="card_text card_text_link">
        <span>Bilder på huset med omnejd</span>
      </div>
      <div class="link-arrow"> ></div>
    </a>
  </div>

  <div class="card-grid_item card clickable">
    <a routerLink="/bokning" routerLinkActive="active">
      <img src="assets/images/edited/brygga.jpg" alt="bokning"/>
      <div class="tape-1" target="color-brown1">
        <span>Boka redan</span>
      </div>
      <div class="tape-2" target="color-brown2">
        <span>idag</span>
      </div>
      <div class="card_text card_text_link">
        <span>Till bokningen</span>
      </div>
      <div class="link-arrow"> ></div>
    </a>
  </div>

</main>

