img {
  max-width: 100%;
}

.start-grid {
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: column;
  /*justify-content: center;*/
  /*margin: 0 -10px 40px -10px;*/
  margin: 0px 10px 40px 10px;
}

@media (min-width:1090px) {
  .start-grid {
    margin: 0 0px 40px 0px;
  }
}

.start-grid-item {
  flex: 1;
}

.start-links-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 0px 40px 0px;
}

.start-links-grid-item {
  flex: 1;
  min-width: 300px;
  max-width: 495px;
  margin: 0 10px 10px;
}

@media (min-width:1090px) {

  .start-links-grid-item {
    margin: 0 10px
  }

  .start-links-grid-item:first-child {
    margin-left: 0px;
  }

  .start-links-grid-item:last-child {
    margin-right: 0px;
  }
}

.start-card {
  background-color: white;
  color: hsl(210, 15%, 20%);
  box-shadow: 0.1em 0.3em 0.5em rgba(0, 0, 0, 0.1);
}

.start-card-text {
  padding: 0.5em 2em 0em 2em;
}

.start-card-header {
  margin-top: 30px;
}

.start-card-header > h2 {
  text-transform: uppercase;
  font-family: Source Sans Pro,Arial;
}

.start-big-link {
  background-color: var(--green);
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  text-align:center;
  margin-top: 0px;
}

.start-link-div {
  margin: 0px 10px 40px 10px;
  box-shadow: 0.1em 0.3em 0.5em rgba(0, 0, 0, 0.1);
}

@media (min-width:1090px) {
  .start-link-div {
    margin: 0 0px 40px 0px;
  }
}

.start-link-text {
  text-transform: uppercase;
  font-family: Helvetica;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.start-clickable:hover {
  opacity: 0.75;
}

.start-inform-container {
  color: #707070;
  margin-top: 2em;
  margin-bottom: 1.5em;
  text-align: center;
}

.start-inform-header {
  text-align:center;
  text-transform: uppercase;
  font-size: 1.8em;
}

.start-inform-text {
  font-size: 1.1em;
}

.start-card-text {
  padding: 0.5em 2em 1em 2em;
}

.start-card-text-link {
  /*font-family: Sansita, serif;*/
}

.start-link-arrow {
  position: absolute;
  bottom: 0.5em;
  right: 1.5em;
  font-size: 1.5em;
}

.pic {
  position: relative;
}

.pic-header {
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
  color: white;
  font-size: 3em;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: Helvetica;
  text-shadow: 0 0 0.7rem rgba(0,0,0,0.2);
}

.ellipseDiv
{
  display: none;
  height: 100px;
  width: 140px;
  border-radius: 49%;
  transform: translate(0%,0%) rotate(-8deg);
  background-color: white;
  position: absolute;
  bottom: 2em;
  right: 2em;
  box-shadow: 0 10px 7px rgba(0,0,0,0.3);
}

@media (min-width:500px) {
  .ellipseDiv {
    display: block;
  }
}

.ellipse-text {
  color: var(--orange);
  position: absolute;
  top: 2em;
  left: 2.5em;
  font-family: Sansita, serif;
  font-size: 1em;
}
