<div style="margin-top: 40px"></div>

<main class="start-grid">
  <div class="start-grid-item start-card">
    <div class="relative-position">
      <picture>
        <source media="(min-width: 860px)" srcset="assets/images/start/strand3.jpg" class="block-display" alt="strand">
        <img src="assets/images/start/strand3cut.jpg" class="block-display" alt="strand">
      </picture>
       <div class="ellipseDiv">
        <div class="ellipse-text">
          1 vecka<br>fr 4000:-
        </div>
      </div>
    </div>
  </div>


  <div class="start-grid-item start-card">
    <div class="start-card-text">
      <div class="start-card-header">
        <h2>Semestra i ett hus nära stranden</h2>
      </div>
      <p>
        Fullt utrustat hus med stor terrass uthyres i Laem Mae Phim, Thailand.
        Det finns plats för 6 personer i denna tvåplansvilla.
      </p>
      <p>
        Paradisstranden Mae Phim ligger endast 2 timmar från Bangkoks internationella
        flygplats. Önskar ni bo i en miljö skild från turistströmmar, ca 200 m från
        en fantastiskt fin och orörd strand, då är detta platsen för er. Området är
        idealiskt för den som vill upptäcka det riktiga Thailand!
      </p>
    </div>
  </div>

</main>

<main class="start-link-div">
  <div class="start-clickable">
    <a routerLink="/bokning" routerLinkActive="active">
      <div class="start-big-link">
        <span class="start-link-text">Till bokning</span>
      </div>
    </a>
  </div>
</main>



<div class="start-inform-container">
  <div class="start-inform-header">
    <span>Vill du veta mer?</span>
  </div>
  <div class="start-inform-text">
    <span>Klicka på bilderna för att få reda på mer om huset och området</span>
  </div>
</div>



<main class="start-links-grid">
  <div class="start-links-grid-item start-card start-clickable">
    <a routerLink="/huset" routerLinkActive="active">
      <div class="pic">
        <img src="assets/images/start/hus.jpg" class="block-display" alt="huset"/>
        <div class="pic-header">
          <span>Huset</span>
        </div>
      </div>
    </a>
  </div>

  <div class="start-links-grid-item start-card start-clickable">
    <a routerLink="/omradet" routerLinkActive="active">
      <div class="pic">
        <img src="assets/images/start/strand.jpg" class="block-display" alt="området"/>
        <div class="pic-header">
          <span>Området</span>
        </div>
      </div>
    </a>
  </div>

  <div class="start-links-grid-item start-card start-clickable">
    <a routerLink="/aktiviteter" routerLinkActive="active">
      <div class="pic">
        <img src="assets/images/start/golf.jpg" class="block-display" alt="aktiviteter"/>
        <div class="pic-header">
          <span>Aktiviteter</span>
        </div>
      </div>
    </a>
  </div>

</main>
