.start-grid {
  display: flex;
  margin: 0 -10px 40px -10px;
}

.start-grid-item {
  flex: 1;
  margin: 0 10px 10px;
}

.start-card {
  background-color: white;
  color: hsl(210, 15%, 20%);
  box-shadow: 0.1em 0.3em 0.5em rgba(0, 0, 0, 0.1);
}

.start-card-img-left {
  width: 50%;
  float: left;
}

.start-card-textbox {
  margin-left: 50%;
}

.start-card-text {
  padding: 0.5em 2em 1em 2em;
}

.start-card-header {
  margin-bottom: 50px;
  margin-top: 30px;
}

.start-card-header > h2 {
  text-transform: uppercase;
  font-family: Source Sans Pro,Arial;
}

.start-big-link {
  /*background-color: #a48c6a;*/
  /*background-color: #4a4a4a;*/
  background-color: var(--green);
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  text-align:center;
  margin-top: 0px;
}

.start-link-text {
  text-transform: uppercase;
  font-family: Helvetica;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.start-clickable:hover {
  opacity: 0.75;
}

.start-inform-container {
  color: #707070;
  margin-top: 2em;
  margin-bottom: 1.5em;
  text-align: center;
}

.start-inform-header {
  text-align:center;
  text-transform: uppercase;
  font-size: 1.8em;
}

.start-inform-text {
  font-size: 1.1em;
}

.start-card-text {
  padding: 0.5em 2em 1em 2em;
}

.start-card-text-link {
  /*font-family: Sansita, serif;*/
}

.start-link-arrow {
  position: absolute;
  bottom: 0.5em;
  right: 1.5em;
  font-size: 1.5em;
}

.pic {
  position: relative;
}

.pic-header {
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
  color: white;
  font-size: 3em;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: Helvetica;
  text-shadow: 0 0 0.7rem rgba(0,0,0,0.2);
}
