
.booking-inform-container {
  color: #707070;
  margin-top: 42px;
  margin-bottom: 1.5em;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

@media (min-width:1090px) {
  .booking-inform-container {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.booking-inform-header {
  text-align:center;
  text-transform: uppercase;
  font-size: 1.8em;
}

.booking-inform-text {
  font-size: 1.1em;
}

.booking-card-form {
  /*margin-bottom: 1em;*/
  margin-bottom: 0.5em;
  background-color: white;
  color: hsl(210, 15%, 20%);
  box-shadow: 0.1em 0.3em 0.5em rgba(0, 0, 0, 0.1);
}

.booking-card {
  margin-bottom: 0.5em;
  padding: 0.5em 2em 1em 2em;
  background-color: white;
  color: hsl(210, 15%, 20%);
  box-shadow: 0.1em 0.3em 0.5em rgba(0, 0, 0, 0.1);
}

.booking-form-item {
  /*margin: 0 10px 10px;*/
  padding: 2rem;
  background-color: #1d9886;
  width: 350px;
  /*height: 630px;*/
}

.form-control {
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

.label {
  color: white;
  padding-bottom: 0.15em;
}

.booking-form-title > h4 {
  color: white;
  font-family: Helvetica;
  text-transform: uppercase;
}

.booking-title {
  color: var(--dark-text);
  font-family: Helvetica;
  text-transform: uppercase;
}


.submit-button {
  background-color: white;
  color: #454545;
  border: 2px solid #454545;
  border-color: #454545;

  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-family: Helvetica;
  text-transform: uppercase;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
}

.submit-button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.submit-button:hover {
  background-color: #454545;
  color: white;
}

/*
.btn-inactive {
  opacity: 0.7;
}

.btn-inactive:hover {
  background-color: white;
  color: black;
}*/

form button[disabled] {
  opacity: 0.7;
}

form button[disabled]:hover {
  background-color: white;
  color: #454545;

}

.feedback-text {
  border-style: solid;
  border-width: 3px;
  border-color: var(--orange);
  background-color: white;
  padding: 5px;
  color: var(--orange);
  font-weight: bold;
}

.feedback-error {
  border-style: solid;
  border-width: 3px;
  border-color: red;
  background-color: white;
  padding: 5px;
  color: red;
  font-weight: bold;
}

.email-invalid {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  background-color: red;
  padding: 2px;
  color: white;
}

.grid-container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  justify-items: center;
  margin-left: 10px;
  margin-right: 10px;
  grid-template-columns: [first] auto [end];
  grid-template-areas:
    "prices"
    "calendar"
    "form"
    "contact"
    "misc"
}

@media only screen and (min-width: 700px) {
  .grid-container {
    grid-template-columns: [first] auto [line2] auto [end];
    grid-template-areas:
      "calendar prices"
      "form contact"
      "form misc"
  }
}

@media only screen and (min-width: 1020px) {
  .grid-container {
    grid-template-columns: [first] 350px [line2] 350px [line3] auto [end];
    grid-template-areas:
      "form calendar prices"
      "form misc contact"
  }
}

@media (min-width: 1090px) {
  .grid-container {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.item-form {
  grid-area: form;
}

.item-prices {
  grid-area: prices;
}

.item-calendar {
  grid-area: calendar;
}

.item-misc {
  grid-area: misc;
}

.item-contact {
  grid-area: contact;
}
