<div class="booking-inform-container">
  <div class="booking-inform-header">
    <span>ALLMÄN BOKNINGSINFORMATION</span>
  </div>
  <div class="booking-inform-text">
    <p>
      Är du intresserad av att boka vårt hus för en oförglömlig vecka i exotiska Laem Mae Phim?
      Läs först igenom informationen nedan och kontrollera att veckan är ledig i kalendern.
      Förfrågan kan sedan skickas till oss via nedanstående formulär. Vi återkommer till dig
      så fort vi kan.
    </p>
  </div>
</div>


<main class="grid-container">

  <div class="item-form booking-card booking-form-item">
    <div class="booking-form-title text-center">
      <h4>Bokningsformulär</h4>
    </div>

    <form [formGroup]="bookingForm" (submit)="onSubmit()">

      <div class="form-control">
        <div class="label">
          <label for="name">
            För- och efternamn*
          </label>
        </div>
        <div>
          <input type="text" id="name" formControlName="name" size="34">
        </div>
      </div>

      <div class="form-control">
        <div class="label">
          <label for="address">
            Adress*
          </label>
        </div>
        <div>
          <input type="text" id="address" formControlName="address" size="34">
        </div>
      </div>

      <div class="form-control">
        <div class="label">
          <label for="zipCode">
            Postnummer*
          </label>
        </div>
        <div>
          <input type="text" id="zipCode" formControlName="zipCode" size="34">
        </div>
      </div>

      <div class="form-control">
        <div class="label">
          <label for="city">
            Stad*
          </label>
        </div>
        <div>
          <input type="text" id="city" formControlName="city" size="34">
        </div>
      </div>

      <div class="form-control">
        <div class="label">
          <label for="phone">
            Telefonnummer
          </label>
        </div>
        <div>
          <input type="text" id="phone" formControlName="phone" size="34">
        </div>
      </div>

      <div class="form-control">
        <div class="label">
          <label for="email">
            Email*
          </label>
        </div>
        <div>
          <input type="text" id="email" formControlName="email" size="34">
        </div>
      </div>

      <div class="form-control">
        <div class="label">
          <label for="message">
            Meddelande*
          </label>
        </div>
        <div>
          <textarea type="text" id="message" formControlName="message" rows="5" cols="33" placeholder="Ange önskad hyresperiod">
          </textarea>
        </div>
      </div>

      <div *ngIf="feedbackText" class="feedback-text">
        {{feedbackText}}
      </div>

      <div style="overflow: auto;">
        <button [disabled]="bookingForm.invalid" class="submit-button" [ngClass]="{'btn-inactive': bookingForm.invalid}">Skicka</button>
      </div>
    </form>
  </div>

  <div class="item-prices booking-card booking-item">

    <div class="booking-title">
      <h4>Priser</h4>
    </div>
    <ul>
      <li>Högsäsong: 1/11-10/4</li>
      <ul>
        <li>1 vecka: 6 000 kr</li>
        <li>2 veckor: 10 000 kr</li>
        <li>3 veckor: 14 000 kr</li>
      </ul>

      <li>Lågsäsong: 11/4-31/10</li>
      <ul>
        <li>1 vecka: 4 000 kr</li>
        <li>2 veckor: 7 500 kr</li>
        <li>3 veckor: 11 000 kr</li>
      </ul>

      <li>Slutstädning ingår i priset</li>
      <li>El och vatten ingår upp till 2500 Bath/månad (normalförbrukning) därefter betalas el och vatten efter
        förbrukning
      </li>

    </ul>

  </div>

  <div class="item-calendar booking-card-form booking-item">
    <iframe height="350" width="350"
            src="https://calendar.google.com/calendar/embed?title=Bokningskalender&showPrint=0&showTabs=0&showCalendars=0&showTz=0&height=300&wkst=2&hl=sv&bgcolor=%23ffffff&src=info@hyraithailand.se&color=%232952A3&ctz=Europe/Stockholm">
      (Om du inte ser en kalender här, uppdatera din browser eller byt till en annan)
    </iframe>
  </div>

  <div class="item-misc booking-card booking-item">

    <div class="booking-title">
      <h4>Övrigt</h4>
    </div>
    <p>
      Om så önskas fixar vi en taxi som hämtar på flygplatsen så att du bekvämt kommer hela
      vägen fram till dörren. På plats möts du upp av vår partner som överlämnar nyckel och
      visar dig runt i huset samt ger en genomgång av hur AC med mera fungerar. Du får även
      telefonnummer till taxichaufförer och annan servicepersonal samt tips på bra guider i
      området.
    </p>

    <ul>
      <li>Inga husdjur tillåtna</li>
      <li>Rökning sker utomhus</li>
    </ul>

  </div>

  <div class="item-contact booking-card booking-item">

    <div class="booking-title">
      <h4>Kontakta oss</h4>
    </div>
    <p>
      <span>Välkommen att kontakta oss om ni har frågor eller vill veta mer om huset.</span>
      <br>
      <br>
      <span>Michael Claesson</span>
      <br>
      <span>Tel: 070-536 83 16</span>
      <br>
      <span>Mail: info@hyraithailand.se</span>
    </p>

  </div>
</main>
