<!--<img src="{{images[currentSlide].src}}" style="width: 530px">-->
<img src="{{images[currentSlide].src}}" style="max-width: 100%">
<div class="image-caption">{{images[currentSlide].text}}</div>
<div class="control-container">
  <button (click)="prev()" class="btn btn-default" style="margin-right: 10px;">Föreg</button>
  <span class="slide-info">Bild {{currentSlide + 1}} av {{images.length}}</span>
  <button (click)="next()" class="btn btn-default" style="margin-left: 10px">Nästa</button>
</div>
