<main class="area-grid">

  <div class="area-grid-item">
    <div class="area-inform-container">
      <div class="area-inform-header">
        <span>MAE PHIM</span>
      </div>
      <div class="area-inform-text">
    <span>
     En oupptäckt pärla vid kusten
    </span>
      </div>
    </div>
    <div class="area-card">

      <div class="area-carousel-background">
        <!--<carousel>
          <ng-container *ngFor="let item of phimImages">
            <ng-container *carouselItem>
              <img src="{{item.src}}" width="530px">
              <div class="area-image-caption">{{item.text}}</div>
            </ng-container>
          </ng-container>
        </carousel>-->
        <app-image-holder [images]="phimImages"></app-image-holder>
      </div>

      <div class="area-card-text">
        <p>
          Bara 2 timmar från Bangkoks internationella flygplats ligger paradisstranden Mae Phim. Stranden, som är
          omnämnd som Thailands bästa fastlandsstrand, ligger ca 200 meter från huset. Vattnet är kristallklart
          och stranden är lång, platt, bred och skön att ta långa promenader längs. Mae Phim är populär bland
          thailändarna som kommer hit på helgerna, men på vardagarna har du stranden nästan för dig själv. Inga
          försäljare och ingen trängsel på stranden.
        </p>
        <p>
          Längs stranden finns ett 30-tal restauranger där du kan njuta av såväl genuin thailändsk mat som rätter
          med internationell prägel. Många av restaurangerna har seafood som specialitet. Det är billigare här
          jämfört med de stora turistorterna. I Mae Phim finns det även en svensk skola.
        </p>
      </div>
    </div>
  </div>

  <div class="area-grid-item">
    <div class="area-inform-container">
      <div class="area-inform-header">
        <span>BLUE MANGO</span>
      </div>
      <div class="area-inform-text">
    <span>
      Ett lugnt och strandnära område i Mae Phim
    </span>
      </div>
    </div>
    <div class="area-card">
      <div class="area-carousel-background">
        <!--<carousel>
          <ng-container *ngFor="let item of mangoImages">
            <ng-container *carouselItem>
              <img src="{{item.src}}" width="530px">
              <div class="area-image-caption">{{item.text}}</div>
            </ng-container>
          </ng-container>
        </carousel>-->
        <app-image-holder [images]="mangoImages"></app-image-holder>
      </div>
      <div class="area-card-text">
        <p>
          Huset ligger i området Blue Mango som innefattar cirka 70 hus. Det är ett barnvänligt och
          lugnt område där majoriteten av de boende är svenskar. Här finns två gemensamma pooler
          varav den ena ligger precis utanför dörren. Temperaturen i vattnet är normalt behagliga
          27-30 grader. Den ena poolen har en barnpool i ena änden.
        </p>
        <p>
          Inne på området finns en serviceorganisation som erbjuder bokning av transporter, biluthyrning,
          golf, utflykter etc. Området är bevakat.
        </p>
        <p>
          Precis utanför Blue Mango, knappt 300 m från huset, finns flera massageställen, en handfull
          restauranger, ett bageri, en supermarket m.m.
        </p>
      </div>
    </div>
  </div>

</main>

<main class="area-grid">
  <div class="area-grid-item" style="margin-bottom: 40px">
    <div class="area-inform-container">
      <div class="area-inform-header">
        <span>HITTA HIT</span>
      </div>
      <div class="area-inform-text">
        <span>
          Mae Phim (i blått) ligger endast 2 timmar från Bangkok (i rött)
        </span>
      </div>
    </div>
    <div class="area-card">
      <div class="area-pic">
        <iframe class="block-display resp-iframe" src="https://www.google.se/maps/d/embed?mid=1c6UNw-ie-iWP9i3N3Grt5Y6gwx4"></iframe>
      </div>
    </div>
  </div>
</main>
