<div class="inform-container2">
  <div class="inform-header">
    <span>AKTIVITETER OCH UTFLYKTER</span>
  </div>
  <div class="inform-text">
    <span>
      Om du tröttnar på att ligga på stranden hela dagen finns det en uppsjö av olika aktiviteter att sysselsätta
          sig med. Vas sägs om en simtur med delfiner eller ett besök på ett lokalt munktempel? Mae Pim har något för
          alla. Det finns även en hel del intressanta utflyktsmål att upptäcka i närområdet.
    </span>
  </div>
</div>

<main class="card-grid">
  <div class="card-grid_item card">
    <div class="card-img-left">
      <img src="../../../assets/images/new/golf.jpg" alt="golf" style="width: 400px"/>
    </div>
    <div class="card-textbox">
      <div class="card_text">
        <h4>Aktiviteter</h4>
        <ul>
          <li>Golf</li>
          <li>Simma med delfiner</li>
          <li>Vattenskoter och bananbåt</li>
          <li>Traditionell thaimassage</li>
          <li>Dykning och snorkling</li>
        </ul>
        <h4>Utflykter och sevärdheter</h4>
        <ul>
          <li>Lokala marknader</li>
          <li>Munktempel</li>
          <li>Vattenfall</li>
        </ul>
      </div>
    </div>
  </div>
</main>



<div class="inform-container2">
  <div class="inform-header">
    <span>ÖAR I NÄROMRÅDET</span>
  </div>
  <div class="inform-text">
    <span>
     Precis utanför Mae Pim Beach ligger flera inbjudande öar som är lätta att ta sig till. Hyr en vattenskoter och
        upptäck öarna på egen hand, eller hoppa på någon av de många färjorna som trafikerar kusten.
    </span>
  </div>
</div>

<main class="card-grid">
  <div class="card-grid_item card">
    <div class="card-img-left">
      <img src="../../../assets/images/new/Ko_Chang_White_Sand_Beach.jpg" alt="golf" style="width: 400px"/>
    </div>
    <div class="card-textbox">
      <div class="card_text">
        <h4>Koh Samet</h4>
        <p>
          Precis utanför Mae Pim Beach ligger Koh Samet, en magnifik ö som är klassad som nationalpark. Djurlivet under
          vattenytan sprakar av alla regnbågens färger, och förutom att snorkla är promenader längs de fantastiska
          sandstränderna den bästa sysselsättningen på ön. Det tar knappt en timme att ta sig hit. (30 min med bil samt
          20 minuter med båt).
        </p>
        <h4>Turtle island - Sköldpaddsön</h4>
        <p>
          På Turtle Island - Sköldpaddsön - som ligger vid sidan om Koh Samet, kan du se jättelika havssköldpaddor komma
          upp på stranden och lägga sina ägg.
        </p>
        <h4>Koh Chang</h4>
        <p>
          Ungefär två timmar från Mae Pim Beach finner vi den vackra ön Koh Chang. Palmer, stränder och kristallklara
          vatten trängs i den fantastiska thailändska arkipelagen. Här kan du njuta av härlig grönska och kritvita
          sandstränder där du slipper trängas. Koh Chang är fortfarande relativt oexploaterad och orörd, även om det
          på senare tid byggts en hel del hotell. 70 procent av öns yta täcks av djungel. Här lever vilda grisar, apor
          och ormar. Ön, som är Thailands näst största, ligger mellan Thailand och Kambodja.
        </p>
      </div>
    </div>
  </div>
</main>


<div class="inform-container2">
  <div class="inform-header">
    <span>NÄRBELÄGNA STÄDER</span>
  </div>
</div>


<main class="card-grid">
  <div class="card-grid_item card">
    <div class="card-img-left">
      <img src="../../../assets/images/new/Evening_Markets_Klaeng_Thailand.jpg" alt="golf" style="width: 400px"/>
    </div>
    <div class="card-textbox">
      <div class="card_text">
        <h4>Rayong</h4>
        <p>
          Staden Rayong är ganska liten men växer alltjämt. Här finns goda möjligheter till bra shopping med varuhus
          såsom Lotus, Caarefour, Index och Robinson. Det finns även flera tempel att besöka.
        </p>
        <h4>Klaeng</h4>
        <p>
          14 km från Mae Pim Beach ligger den lilla staden Klaeng. Staden erbjuder bra shopping på såväl marknader
          som shoppingcenters och traditionella butiker. Här hittar du även banker, sjukhus och specialbutiker.
        </p>
      </div>
    </div>
  </div>
</main>

