<div class="activities-inform-container">
  <div class="activities-inform-header">
    <span>AKTIVITETER OCH UTFLYKTER</span>
  </div>
  <div class="activities-inform-text">
    <span>
      Om du tröttnar på att ligga på stranden hela dagen finns det en uppsjö av olika aktiviteter att sysselsätta
          sig med. Vad sägs om en golfrunda eller ett besök på ett lokalt munktempel? Mae Pim har något för
          alla. Det finns även en hel del intressanta utflyktsmål att upptäcka i närområdet.
    </span>
  </div>
</div>

<main class="activities-grid">
  <div class="activities-grid-item activities-card">
    <div>
      <img src="../../../assets/images/activities/golf.jpg" class="block-display" alt="golf"/>
    </div>
    <div class="activities-card-text">
      <h3 class="activities-card-header">Aktiviteter</h3>
      <ul>
        <li>Golf</li>
        <li>Vattenskoter och bananbåt</li>
        <li>Traditionell thaimassage</li>
        <li>Dykning och snorkling</li>
      </ul>
    </div>
  </div>

  <div class="activities-grid-item activities-card">
    <div>
      <img src="../../../assets/images/activities/temple.jpg" class="block-display" alt="temple"/>
    </div>
    <div class="activities-card-text">
      <h3 class="activities-card-header">Utflykter och sevärdheter</h3>
      <ul>
        <li>Lokala marknader</li>
        <li>Munktempel</li>
        <li>Vattenfall</li>
      </ul>
    </div>
  </div>
</main>

<div class="activities-inform-container">
  <div class="activities-inform-header">
    <span>Öar och stränder i närområdet</span>
  </div>
  <div class="activities-inform-text">
    <span>
      Mae Phim beach är flera kilometer lång men om du vill ha omväxling finns
      flera andra stränder i närområdet som man kan ta sig till. Precis utanför
      Mae Phim Beach ligger flera inbjudande öar som är lätta att ta sig till.
      Hyr en båt med chaufför och upptäck öarna på egen hand, eller åk till Ban
      Phe ca 20 minuter bort och ta en färja över till Koh Samet.
    </span>
  </div>
</div>

<main class="activities-grid">
  <div class="activities-island-grid-item activities-card">
    <div class="pic">
      <img src="../../../assets/images/activities/strand.jpg" class="block-display"
           alt="strand"/>
      <div class="pic-header">
        <span>Stränder</span>
      </div>
    </div>
    <div class="activities-card-text">
      <h3 class="activities-card-header">Mae Phim Beach</h3>
      <p class="island-text">
        Flera kilometer lång bred strand, restauranger i ena änden och nästan öde i andra änden (ligger ca 200 m från
        huset)
      </p>
      <h3 class="activities-card-header">Ao Khai Beach (Kungastranden)</h3>
      <p class="island-text">
        Det svenska namnet på stranden som enligt sägen fått besök av den svenska kungen, nästan vit strand, mysiga
        restauranger, uthyrning av kajaker, SUP och katamaraner (ligger ca 4 km österut)
      </p>
      <h3 class="activities-card-header">Ken och Kim Beach</h3>
      <p class="island-text">
        Strand uppskattad av många barnfamiljer, restauranger med såväl thailändsk som europeisk mat, möjlighet till
        massage med vågornas brus i bakgrunden (ligger ca 5 km västerut)
      </p>

    </div>
  </div>

  <div class="activities-island-grid-item activities-card">
    <div class="pic">
      <img src="../../../assets/images/activities/kohSamet.jpg" class="block-display"
           alt="Koh Samet"/>
      <div class="pic-header">
        <span>Öar</span>
      </div>
    </div>
    <div class="activities-card-text">
      <h3 class="activities-card-header">Koh Samet</h3>
      <p class="island-text">
        En magnifik ö som är klassad som nationalpark. Djurlivet under vattenytan sprakar av alla regnbågens färger,
        och förutom att snorkla är promenader längs de fantastiska sandstränderna den bästa sysselsättningen på ön.
        Det tar ca en timme att ta sig hit på billigaste sättet, genom att ta en song taw till Ban Phe och sedan färja.
        Om man vill kan man även bo över på ön, det finns många hotell och bungalows att välja på.
      </p>

      <h3 class="activities-card-header">Koh Thalu</h3>
      <p class="island-text">
        Liten ö med paradiskänsla, fantastiskt vatten och bra snorkling. Snabbaste sättet att ta sig dit är genom att
        hyra en motorbåt med chaufför.
      </p>

      <h3 class="activities-card-header">Koh Mannai - Sköldpaddsön</h3>
      <p class="island-text">
        Ön ligger nära Koh Thalu och har ni hyrt en motorbåt kan ni besöka båda samma dag. Där finns ett
        sköldpaddsreservat
        där man kan se små till stora sköldpaddor och ett litet museum där man kan lära sig mer.
      </p>
    </div>
  </div>

</main>

<div class="activities-inform-container">
  <div class="activities-inform-header">
    <span>NÄRBELÄGNA STÄDER</span>
  </div>
  <!--<div class="activities-inform-text">
    <span>
    Lägg in en kort text om att man kan besöka städer i närområdet.
    </span>
  </div>-->
</div>

<main class="activities-grid">
  <div class="activities-city-grid-item activities-card">
    <div class="pic">
      <img src="../../../assets/images/activities/rayong.jpg" class="block-display"
           alt="Rayong"/>
      <div class="pic-header">
        <span>Rayong</span>
      </div>
    </div>
    <div class="activities-card-text">
      <p>
        Staden Rayong är ganska liten men växer alltjämt. Här finns goda möjligheter till bra shopping med varuhus
        såsom Lotus, Caarefour, Index och Robinson. Det finns även flera tempel att besöka.
      </p>
    </div>
  </div>

  <div class="activities-city-grid-item activities-card">
    <div class="pic">
      <img src="../../../assets/images/activities/klaeng.jpg" class="block-display"
           alt="Klaeng"/>
      <div class="pic-header">
        <span>Klaeng</span>
      </div>
    </div>
    <div class="activities-card-text">
      <p>
        14 km från Mae Pim Beach ligger den lilla staden Klaeng. Staden erbjuder bra shopping på såväl marknader
        som shoppingcenters och traditionella butiker. Här hittar du även banker, sjukhus och specialbutiker.
      </p>
    </div>
  </div>
</main>


