<div class="activities-inform-container">
  <div class="activities-inform-header">
    <span>AKTIVITETER OCH UTFLYKTER</span>
  </div>
  <div class="activities-inform-text">
    <span>
      Om du tröttnar på att ligga på stranden hela dagen finns det en uppsjö av olika aktiviteter att sysselsätta
          sig med. Vad sägs om en golfrunda eller ett besök på ett lokalt munktempel? Mae Pim har något för
          alla. Det finns även en hel del intressanta utflyktsmål att upptäcka i närområdet.
    </span>
  </div>
</div>

<main class="activities-grid">
  <div class="activities-grid-item activities-card">
    <div>
      <img src="../../../assets/images/activities/golf.jpg" alt="golf" />
    </div>
    <div class="activities-card-text">
      <h3 class="activities-card-header">Aktiviteter</h3>
      <ul>
        <li>Golf</li>
        <li>Vattenskoter och bananbåt</li>
        <li>Traditionell thaimassage</li>
        <li>Dykning och snorkling</li>
      </ul>
    </div>
  </div>

  <div class="activities-grid-item activities-card">
    <div>
      <img src="../../../assets/images/activities/temple.jpg" alt="temple" />
    </div>
    <div class="activities-card-text">
      <h3 class="activities-card-header">Utflykter och sevärdheter</h3>
      <ul>
        <li>Lokala marknader</li>
        <li>Munktempel</li>
        <li>Vattenfall</li>
      </ul>
    </div>
  </div>
</main>

<div class="activities-inform-container">
  <div class="activities-inform-header">
    <span>ÖAR I NÄROMRÅDET</span>
  </div>
  <div class="activities-inform-text">
    <span>
     Precis utanför Mae Pim Beach ligger flera inbjudande öar som är lätta att ta sig till. Hyr en vattenskoter och
        upptäck öarna på egen hand, eller hoppa på någon av de många färjorna som trafikerar kusten.
    </span>
  </div>
</div>

<main class="activities-grid">
  <div class="activities-grid-item activities-card">
    <div class="pic">
      <img src="../../../assets/images/activities/Ko_Chang_White_Sand_Beach.jpg" alt="Koh Chang" style="width: 400px"/>
      <div class="pic-header">
        <span>Koh Samet</span>
      </div>
    </div>
     <div class="activities-card-text">
      <p>
        Precis utanför Mae Pim Beach ligger Koh Samet, en magnifik ö som är klassad som nationalpark. Djurlivet under
        vattenytan sprakar av alla regnbågens färger, och förutom att snorkla är promenader längs de fantastiska
        sandstränderna den bästa sysselsättningen på ön. Det tar knappt en timme att ta sig hit. (30 min med bil samt
        20 minuter med båt).
      </p>
    </div>
  </div>

  <div class="activities-grid-item activities-card">
    <div class="pic">
      <img src="../../../assets/images/activities/Ko_Chang_White_Sand_Beach.jpg" alt="Koh Chang" style="width: 400px"/>
      <div class="pic-header">
        <span>Turtle island</span>
      </div>
    </div>
    <div class="activities-card-text">
      <p>
        På Turtle Island - Sköldpaddsön - som ligger vid sidan om Koh Samet, kan du se jättelika havssköldpaddor komma
        upp på stranden och lägga sina ägg.
      </p>
    </div>
  </div>

  <div class="activities-grid-item activities-card">
    <div class="pic">
      <img src="../../../assets/images/activities/Ko_Chang_White_Sand_Beach.jpg" alt="Koh Chang" style="width: 400px"/>
      <div class="pic-header">
        <span>Koh Chang</span>
      </div>
    </div>
    <div class="activities-card-text">
      <p>
        Ungefär två timmar från Mae Pim Beach finner vi den vackra ön Koh Chang. Palmer, stränder och kristallklara
        vatten trängs i den fantastiska thailändska arkipelagen. Här kan du njuta av härlig grönska och kritvita
        sandstränder där du slipper trängas. Koh Chang är fortfarande relativt oexploaterad och orörd, även om det
        på senare tid byggts en hel del hotell. 70 procent av öns yta täcks av djungel. Här lever vilda grisar, apor
        och ormar. Ön, som är Thailands näst största, ligger mellan Thailand och Kambodja.
      </p>
    </div>
  </div>
</main>

<div class="activities-inform-container">
  <div class="activities-inform-header">
    <span>NÄRBELÄGNA STÄDER</span>
  </div>
  <div class="activities-inform-text">
    <span>
    Lägg in en kort text om att man kan besöka städer i närområdet.
    </span>
  </div>
</div>

<main class="activities-grid">
  <div class="activities-grid-item activities-card">
    <div class="pic">
      <img src="../../../assets/images/activities/Evening_Markets_Klaeng_Thailand.jpg" alt="Rayong" />
      <div class="pic-header">
        <span>Rayong</span>
      </div>
    </div>
    <div class="activities-card-text">
      <p>
        Staden Rayong är ganska liten men växer alltjämt. Här finns goda möjligheter till bra shopping med varuhus
        såsom Lotus, Caarefour, Index och Robinson. Det finns även flera tempel att besöka.
      </p>
    </div>
  </div>

  <div class="activities-grid-item activities-card">
    <div class="pic">
      <img src="../../../assets/images/activities/Evening_Markets_Klaeng_Thailand.jpg" alt="Klaeng" />
      <div class="pic-header">
        <span>Klaeng</span>
      </div>
    </div>
    <div class="activities-card-text">
      <p>
        14 km från Mae Pim Beach ligger den lilla staden Klaeng. Staden erbjuder bra shopping på såväl marknader
        som shoppingcenters och traditionella butiker. Här hittar du även banker, sjukhus och specialbutiker.
      </p>
    </div>
  </div>
</main>
