@import '~normalize.css';

html {
  --dark-green: #026670;
  --dark-blue: #00303F;
  --light-blue: #CAE4DB;
  --light-green: #9FEDD7;
  --yellow: #FCE181;
  --light-yellow: #FEF9C7;
  --gray: #EDEAE5;
  --orange: #f37800;
  --dark-text: #4a4a4a;
  --gray-brown: #efeae6;
  --light-gray-brown: #f5f0eb;
}

:root {
  box-sizing: border-box;
  /*font-size: calc(1vw + 0.6em);*/
}

/*@media (min-width: 50em) {
  :root {
    font-size: 1.125em;
  }
}*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  /*background-color: var(--light-yellow);*/
  background-color: var(--light-gray-brown);
  min-height: 100vh;
/*background: url(assets/images/boat.jpg) no-repeat;
  background-size: cover;*/
  /*font-family: Helvetica, Arial, sans-serif;*/
  /*font-family: 'Tajawal', sans-serif;*/
}

h1, h2, h3, h4 {
  font-family: Sansita, serif;
  letter-spacing: 0.03em;
  color: var(--dark-text);
  /*text-transform: uppercase;*/
}

main {
  display: block;
}
img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
}


.page-header {
  padding: 6em 1em;
  /*background-color: var(--dark-green);*/
  /*background-color: white;*/
  background: url(assets/images/header.jpg) no-repeat;
  background-size: cover;
}

/*@media (min-width: 35em) {
  .page-header {
    padding: 1em;
  }
}

@media (min-width: 50em) {
  .page-header {
    padding: 1em 4em;
  }
}*/

.title > h1 {
  /*color: var(--light-yellow);*/
  color: var(--orange);
  text-transform: uppercase;
  /*text-transform: uppercase;*/
  /*font-size: 1.5rem;
  margin: 0.2em 0;*/
}
.title > h2 {
  color: var(--dark-text)
}



/*@media (min-width: 35em) {
  .title > h1 {
    font-size: 2.25rem;
  }
}*/

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0 1rem;
  list-style: none;
}

.nav-links > li + li {
  margin-left: 0.8em;
}

.nav-links > li > a {
  display: block;
  padding: 1em 0;
  color: var(--dark-text);
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.nav-links__icon {
  height: 2em;
  width: 2em;
  vertical-align: -0.6em;
  color: white;
}
.nav-links > li > a:hover {
  /*color: hsl(40, 100%, 70%);*/
}

@media (min-width: 30em) {
  .main-nav {
    position: fixed;
    width: 200px;
    /*top: 8.25rem;*/
    left: 0;
    z-index: 10;
    /*background-color: transparent;
    transition: background-color .5s linear;*/
    /*transition: width .15s ease-in-out,box-shadow .15s ease-in-out;*/
    /*border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;*/

    height: 100vh;
  }
  .main-nav:hover {
    /*background-color: rgba(0, 0, 0, 0.6);*/
    /*background-color: var(--light-green);*/
    /*background-color: #222;*/
    /*width:200px;*/

    /*background-color: var(--dark-green);*/
  }
}

@media (min-width: 30em) {
  .nav-links {
    display: block;
    padding: 1em;
    margin-bottom: 0;
  }

  .nav-links > li + li {
    margin-left: 0;
  }

  .nav-links__label {
    display: inline-block;
    margin-left: 1.5em;
    padding-right: 1em;
    opacity: 0;
    transform: translate(-1em);
    transition: transform .15s ease-in-out,
    opacity 0.05s linear;
  }

  .nav-links:hover .nav-links__label,
  .nav-links a:focus > .nav-links__label {
    opacity: 1;
    transform: translate(0);
  }

  .nav-links__icon {
    transition: transform 0.2s ease-out;
  }

  .nav-links a:hover > .nav-links__icon,
  .nav-links a:focus > .nav-links__icon {
    transform: scale(1.5);
  }
  .nav-links a:hover > .nav-links__label,
  .nav-links a:focus > .nav-links__label {
    transform: scale(1.3) translate(1.2em);
    color: var(--orange);
  }
}

.header_pane {
  height: 4em;
  width: 100vw;
  background-color: var(--gray-brown);
  box-shadow: 0 0 5px #c9c7c3;
}

.header_pane > h1 {
  margin: 0;
  padding-top: 0.3em;
  padding-right: 1em;
  text-align: end;
  color: orange;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px #148;
}

.left_pane {

  position: fixed;
  top: 0;
  left: 0;
  width: 3.8em;
  border-right: 2px solid var(--orange);
  height: 100vh;
  /*border-right: 1px solid #181818;*/

  /*background-color: #222;*/
  background-color: white;
  /*color: #aaa;*/
  overflow: hidden;
  transition: width 0.2s ease-in-out;
}

.left_pane:hover {
  width:200px;
}


.page-footer {
/*  margin-top: 3em;
  padding: 1em 0;*/
  background-color: var(--gray-brown);
  color: gray;
  padding: 1rem;
  box-shadow: 0 0 5px #c9c7c3;
}
.page-footer__inner {
  margin: 0 auto;
  max-width: 1080px;
  text-align: center;
  font-size: 0.8rem;
}


.flyin-grid {
  margin: 0 1rem;
  perspective: 500px;
}

/*
.flyin-grid__item {
  animation: fly-in 600ms ease-in;
  animation-fill-mode: both;
}
.flyin-grid__item:nth-child(2) {
  animation-delay: 0.15s;
}
.flyin-grid__item:nth-child(3) {
  animation-delay: 0.3s;
}
.flyin-grid__item:nth-child(4) {
  animation-delay: 0.45s;
}

@keyframes fly-in {
  0% {
    transform: translateZ(-800px) rotateY(90deg) rotateZ(-45deg);
    opacity: 0;
  }
  56% {
    transform: translateZ(-160px) rotateY(87deg) rotateZ(-30deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateY(0) rotateZ(1deg);
  }
}
*/

.card {
  margin-bottom: 1em;
  /*padding: 0.5em;*/
  background-color: white;
  color: hsl(210, 15%, 20%);
  box-shadow: 0.1em 0.3em 0.5em rgba(0, 0, 0, 0.1);
}
.card > img {
  width: 100%;
}

.card_title {
  padding-left: 2em;
  text-transform: uppercase;
}
.card_text {
  padding: 0.5em 2em 1em 2em;
}

.card_text_link {
  font-family: Sansita, serif;
}

.clickable:hover {
  opacity: 0.75;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

/*
.image-container {
  position: relative;
}
*/

.tape-1 {
  position: absolute;
  /*background-color: #b9cba7;*/
  color: white;
  top: 20px;
  padding: 0.3em 1.5em 0.3em 1.5em;
  box-shadow: 0 1px 7px rgba(0,0,0,0.1);
}

.tape-2 {
  position: absolute;
  /*background-color: white;*/
  color: #b9cba7;
  top: 56px;
  padding: 0.3em 1.5em 0.3em 1.5em;
  box-shadow: 0 1px 7px rgba(0,0,0,0.1);
}

.tape-1 > span,
.tape-2 > span {
  text-transform: uppercase;
  font-family: Helvetica;
  font-size: 1.5em;
  font-weight: bold;
}

[target=color-green1] {
  background-color: white;
  color: #b9cba7;
}
[target=color-green2] {
  background-color: #b9cba7;
  color: white;
}

[target=color-blue1] {
  background-color: white;
  color: #8eb8c4;
}
[target=color-blue2] {
  background-color: #8eb8c4;
  color: white;
}
[target=color-greenish1] {
  background-color: white;
  color: #cec947;
}
[target=color-greenish2] {
  background-color: #cec947;
  color: white;
}
[target=color-brown1] {
  background-color: white;
  color: #b2a37b;
}
[target=color-brown2] {
  background-color: #b2a37b;
  color: white;
}



[target=color-green] {
  background-color: green;
  color: white;
}



@media (min-width: 30em) {
  .flyin-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5rem;
  }
  .flyin-grid__item {
    flex: 1 1 300px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    max-width: 600px;
  }

  @supports (display: grid) {
    .flyin-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 2em;
    }
    .flyin-grid__item {
      max-width: initial;
      margin: 0;
    }
  }
}

.card-grid_item {
  position: relative;
}

.link-arrow {
  position: absolute;
  bottom: 0.5em;
  right: 1.5em;
  font-size: 1.5em;
}

@media (min-width: 30em) {
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    /*margin*/
  }
  .card-grid_item {
    flex: 1;
    margin-left: 1.2em;
    margin-right: 1.2em;
    margin-bottom: 2.4em;
    /*max-width: 1080px;*/
  }
}


.hero {
  max-width: 350px;
  margin: 0 auto;
}
.text_box {
  background-color: white;
  opacity: 0.7;
  padding:0.5em;
}

.info {
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 2em;
}

.ellipseDiv
{
  height: 140px;
  width: 190px;
  border-radius: 49%;
  transform: translate(0%,0%) rotate(-5deg);
  background-color:#dc3767;
  position: absolute;
  top: 2em;
  left:  1em;
  box-shadow: 0 10px 7px rgba(0,0,0,0.3);
}

.ellipse-text {
  color: white;
  position: absolute;
  top: 2.2em;
  left: 2.5em;
  font-weight: bold;
  font-family: Sansita, serif;
  font-size: 1.3em;
}

/*
    Utility classes
 */
.text-center {
  text-align: center !important;
}


