@import '~normalize.css';

html {
  --dark-green: #026670;
  --dark-blue: #00303F;
  --light-blue: #CAE4DB;
  --light-green: #9FEDD7;
  --yellow: #FCE181;
  --light-yellow: #FEF9C7;
  --gray: #EDEAE5;
  --orange: #f37800;
  --dark-text: #4a4a4a;
  --gray-brown: #efeae6;
  --light-gray-brown: #f5f0eb;
  --brown-text: #707070;
}

:root {
  box-sizing: border-box;
  /*font-size: calc(1vw + 0.6em);*/
}

/*@media (min-width: 50em) {
  :root {
    font-size: 1.125em;
  }
}*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--light-gray-brown);
  min-height: 100vh;
  /*font-family: Helvetica, Arial, sans-serif;*/
  /*font-family: 'Tajawal', sans-serif;*/
}

h1, h2, h3, h4 {
  font-family: Sansita, serif;
  letter-spacing: 0.03em;
  color: var(--brown-text);
}

main {
  display: block;
}
img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
}

/*
.page-header {
  padding: 6em 1em;
  background: url(assets/images/header.jpg) no-repeat;
  background-size: cover;
}*/

.title > h1 {
  color: var(--orange);
  text-transform: uppercase;
}
.title > h2 {
  color: var(--dark-text)
}



.header_pane {
  height: 4em;
  width: 100vw;
  /*background-color: var(--gray-brown);*/
  background-color: white;
  box-shadow: 0 0 5px #c9c7c3;
}

.header_pane > h1 {
  margin: 0;
  padding-top: 0.3em;
  /*padding-right: 1em;*/
  /*text-align: end;*/
  text-align: center;
  color: orange;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px #148;
}




.page-footer {
/*  margin-top: 3em;
  padding: 1em 0;*/
  background-color: var(--gray-brown);
  color: gray;
  padding: 1rem;
  box-shadow: 0 0 5px #c9c7c3;
}
.page-footer__inner {
  margin: 0 auto;
  max-width: 1080px;
  text-align: center;
  font-size: 0.8rem;
}



.card {
  margin-bottom: 1em;
  /*padding: 0.5em;*/
  background-color: white;
  color: hsl(210, 15%, 20%);
  box-shadow: 0.1em 0.3em 0.5em rgba(0, 0, 0, 0.1);
}
.card > img {
  width: 100%;
}

.card_title {
  padding-left: 2em;
  text-transform: uppercase;
}
.card_text {
  padding: 0.5em 2em 1em 2em;
}

.card_text_link {
  font-family: Sansita, serif;
}

.clickable:hover {
  opacity: 0.75;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

/*
.image-container {
  position: relative;
}
*/

.tape-1 {
  position: absolute;
  /*background-color: #b9cba7;*/
  color: white;
  top: 20px;
  padding: 0.3em 1.5em 0.3em 1.5em;
  box-shadow: 0 1px 7px rgba(0,0,0,0.1);
}

.tape-2 {
  position: absolute;
  /*background-color: white;*/
  color: #b9cba7;
  top: 56px;
  padding: 0.3em 1.5em 0.3em 1.5em;
  box-shadow: 0 1px 7px rgba(0,0,0,0.1);
}

.tape-1 > span,
.tape-2 > span {
  text-transform: uppercase;
  font-family: Helvetica;
  font-size: 1.5em;
  font-weight: bold;
}

[target=color-green1] {
  background-color: white;
  color: #b9cba7;
}
[target=color-green2] {
  background-color: #b9cba7;
  color: white;
}

[target=color-blue1] {
  background-color: white;
  color: #8eb8c4;
}
[target=color-blue2] {
  background-color: #8eb8c4;
  color: white;
}
[target=color-greenish1] {
  background-color: white;
  color: #cec947;
}
[target=color-greenish2] {
  background-color: #cec947;
  color: white;
}
[target=color-brown1] {
  background-color: white;
  color: #b2a37b;
}
[target=color-brown2] {
  background-color: #b2a37b;
  color: white;
}




[target=color-green] {
  background-color: green;
  color: white;
}

.card-grid_item {
  position: relative;
}

.card-img-left {
  width: 35%;
  float: left;
}

.card-textbox {
  margin-left: 35%;
}



.link-arrow {
  position: absolute;
  bottom: 0.5em;
  right: 1.5em;
  font-size: 1.5em;
}

@media (min-width: 30em) {
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    /*margin*/
  }
  .card-grid_item {
    flex: 1;
    margin-left: 1.2em;
    margin-right: 1.2em;
    margin-bottom: 2.4em;
    /*max-width: 1080px;*/
  }
}

.big-link {
  background-color: #a48c6a;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  text-align:center
}

.link-text {
  text-transform: uppercase;
  font-family: Helvetica;
  font-size: 1.5em;
  font-weight: bold;
  color: white;

}

.inform-container {
  text-align:center;
  color: #707070;
  margin-bottom: 1.5em;
}

.inform-container2 {
  color: #707070;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.inform-header {
  text-align:center;
  text-transform: uppercase;
  font-size: 1.8em;
}

.inform-text {
  font-size: 1.1em;
}

.hero {
  max-width: 350px;
  margin: 0 auto;
}
.text_box {
  background-color: white;
  opacity: 0.7;
  padding:0.5em;
}

.info {
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 2em;
}

.ellipseDiv
{
  height: 140px;
  width: 190px;
  border-radius: 49%;
  transform: translate(0%,0%) rotate(-5deg);
  background-color:#dc3767;
  position: absolute;
  top: 2em;
  left:  1em;
  box-shadow: 0 10px 7px rgba(0,0,0,0.3);
}

.ellipse-text {
  color: white;
  position: absolute;
  top: 2.2em;
  left: 2.5em;
  font-weight: bold;
  font-family: Sansita, serif;
  font-size: 1.3em;
}



.menu_pane {
  background-color: white;
}

.main-nav {

}

.nav-line {
  border-bottom: 1.5px solid var(--orange);
}

.nav-line2 {
  border-bottom: 20px solid var(--gray-brown);
}

/*background-color: var(--gray-brown);*/


.nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0rem;
  padding: 0 1rem;
  list-style: none;
}

.nav-links > li + li {
  margin-left: 0.8em;
}

.nav-links > li > a {
  display: block;
  padding: 1em 0;
  color: var(--dark-text);
  font-size: 0.9rem;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.nav-links > li > a:active,
.nav-links > li > a:hover,
.nav-links > li > a:focus
{
  color: var(--orange);
}

/*
    Utility classes
 */
.text-center {
  text-align: center !important;
}


