@import '~normalize.css';

html {
  --dark-green: #026670;
  --dark-blue: #00303F;
  --light-blue: #CAE4DB;
  --light-green: #9FEDD7;
  --yellow: #FCE181;
  --light-yellow: #FEF9C7;
  --gray: #EDEAE5;
  --orange: #f37800;
  --dark-text: #4a4a4a;
  --gray-brown: #efeae6;
  --light-gray-brown: #f5f0eb;
  --brown-text: #707070;
  --green: #1d9886;
  --red: #db4857;
  --gray-shadow: #c7c7c7;
}

:root {
  box-sizing: border-box;
  /*font-size: calc(1vw + 0.6em);*/
}

/*@media (min-width: 50em) {
  :root {
    font-size: 1.125em;
  }
}*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--light-gray-brown);
  min-height: 100vh;
  /*font-family: Helvetica, Arial, sans-serif;*/
  /*font-family: 'Tajawal', sans-serif;*/
}

h1, h2, h3, h4 {
  /*font-family: Sansita, serif;*/
  letter-spacing: 0.03em;
  color: var(--brown-text);
}

main {
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

/*
    Utility classes
 */
.text-center {
  text-align: center !important;
}

.block-display {
  display: block;
}

