<div class="house-inform-container">
  <div class="house-inform-header">
    <span>UTFORSKA HUSET</span>
  </div>
  <div class="house-inform-text">
     <span>
          Huset är välutrustat med plats för 6 personer, (173 kvm inklusive altan).
          Det ligger i Laem Mae Phim, Rayong, 20 mil sydost om Bangkok. Det är en smakfullt inredd
          tvåplansvilla med ljus och öppen planlösning och väl tilltagna gemensamhetsutrymmen.
          Avståndet från havet är endast 200 m!
    </span>
  </div>
</div>

<main class="house-grid">
  <div class="house-grid-item house-card">
    <div class="house-carousel-background">
      <carousel>
        <ng-container *ngFor="let item of indoorImages;">
          <ng-container *carouselItem>
            <img src="{{item.src}}" width="530px">
            <div class="house-image-caption">{{item.text}}</div>
          </ng-container>
        </ng-container>
      </carousel>
    </div>
    <div class="house-card-text">
      <h3 class="house-card-header">Inomhus</h3>
      <ul>
        <li>Två sovrum, båda med dubbelsängar, garderober och varsitt helkaklat badrum</li>
        <li>Vardagsrum med soffplats för 8 personer samt stereo med CD</li>
        <li>Matplats med sittplats för 8 personer</li>
        <li>TV-rum med platt-TV (Satellit-TV), DVD/stereo och 2 bekväma gästsängar</li>
        <li>Fullt utrustat kök med spis, ugn, kyl/frys, diskmaskin, mikro, vattenkokare, kaffebryggare, brödrost mm.
        </li>
        <li>Badrum och tvättmaskin</li>
        <li>Luftkonditionering i alla rum</li>
        <li>Bredband/ADSL finns men kostnad tillkommer</li>
        <li>Sängkläder, handdukar strandhanddukar och köksutrustning för 6 personer</li>
        <li>1 spjälsäng</li>
        <li>1 barnstol</li>
        <li>1 strykjärn och strykbräda</li>
        <li>1 gästluftmadrass</li>
        <li>Leksaker: 1 gåstol, Bobbycar, moped, blandade strandleksaker, miniverktygsset mm.</li>
        <li>Några DVD-filmer och pocketböcker finns</li>
      </ul>
    </div>
  </div>

  <div class="house-grid-item house-card">
    <div class="house-carousel-background">
      <carousel>
        <ng-container *ngFor="let item of outdoorImages;">
          <ng-container *carouselItem>
            <img src="{{item.src}}" width="530px">
            <div class="house-image-caption">{{item.text}}</div>
          </ng-container>
        </ng-container>
      </carousel>
    </div>
    <div class="house-card-text">
      <h3 class="house-card-header">Utomhus</h3>
      <ul>
        <li>Huset har 2 altaner. Den på övre plan har utgång från både sovrum och TV-rum. Där finns möjlighet till
          både sol, skugga och havsutsikt. Den nedre har utgång från vardagsrummet. Utanför det andra sovrummet
          finns en liten balkong.
        </li>
        <li>Tomt runt huset</li>
        <li>2 pooler finns på området, varav den ena precis utanför dörren</li>
        <li>Uteförråd med:
          <ul>
            <li>2 cyklar</li>
            <li>1 cykelbarnstol</li>
            <li>1 barn-/sittvagn</li>
            <li>leksaker</li>
            <li>golfbagar mm</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</main>
