<nav class="menu" id="main-menu" [ngClass]="{'is-open': displayDropdown}">
  <button class="menu-toggle" id="toggle-menu" (click)="toggle()">
    toggle menu
  </button>
  <div class="menu-dropdown">
    <ul class="nav-menu">
      <li>
        <a routerLink="" routerLinkActive="active" (click)="toggle()">
          <span class="nav-links__label">Start</span>
        </a>
      </li>
      <li>
        <a routerLink="huset" routerLinkActive="active" (click)="toggle()">
          <span class="nav-links__label">Huset</span>
        </a>
      </li>
      <li>
        <a routerLink="omradet" routerLinkActive="active" (click)="toggle()">
          <span class="nav-links__label">Området</span>
        </a>
      </li>
      <li>
        <a routerLink="aktiviteter" routerLinkActive="active" (click)="toggle()">
          <span class="nav-links__label">Aktiviteter</span>
        </a>
      </li>
      <li>
        <a routerLink="bokning" routerLinkActive="active" (click)="toggle()">
          <span class="nav-links__label">Bokning</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="nav-line"></div>
  <div class="nav-line2"></div>
</nav>
